# A simple action usage
name: Build Kernel
on:
  workflow_dispatch:

jobs:
  Build-Kernel:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Build Kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/a02-trial/a022f_kernel
          kernel-dir: kernel-4.14
          kernel-branch: main
          config: a02_defconfig
          arch: arm
          aosp-gcc: true
          aosp-clang: false
          android-version: 11
          disable-lto: true
          anykernel3: true
