name: CI2
on:
  push:
    branches: main
    paths:
      - '.github/workflows/main.yml'
      - 'action.yml'

  pull_request:
  workflow_dispatch:

jobs:
  ci-test:
    name: Build Kernel
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

    - name: Build Kernel
      uses: ./
      with:
          kernel-url: https://github.com/a02-trial/a022f_kernel
          kernel-dir: kernel-4.14
          kernel-branch: main
          config: a02_defconfig
          arch: arm
          aosp-gcc: true
          aosp-clang: true
          android-version: 11
          aosp-clang-version: r383902
          disable-lto: true
          anykernel3: true
